form {
    background-color: #020817;
    padding: 20px;
    h2 {
        color: #FFFAFA;
        margin-bottom: 3px;
    }
    p {
        color: #fffafaa4;
    }
    
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    mat-label {
        color: #FFFAFA;
    }
    input {
        color: #FFFAFA;
        background-color: #020817;
        border: 2px solid #b5afaf5d;
        padding: 20px 10px;
        border-radius: 10px;
        &:focus{
            border: 2px solid #612cb5;
            outline: none;
        }
    }
    
}

.botoes {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    background-color: #020817;
    border: none;
    button {
        background-color: #612cb5;
        color: #FFFAFA;
    }
    .button-cancelar {
        background-color: transparent;
    }
}

.button-salvar {
    background-color: #FFFAFA;
}




