* {
    margin: 0;
    padding: 0;
}

// Fonts

.font-quando {
    font-family: "Quando", serif;
    font-weight: 500;
    font-style: normal;
}

.font-quando-b {
    font-family: "Quando", serif;
    font-weight: 800;
    font-style: normal;
}

// Variáveis de cores

:root{
    --black-custom: #0C0C0C
    --purple-custom: #612cb5
    --white-custom: #FFFAFA
}